DATABASE='quill.db'
DEBUG=True
SECRET_KEY=b'12345'
FACEBOOK_CLIENT_ID='1234'
FACEBOOK_CLIENT_SECRET='5678'

MEMBERSHIP_PRICE={ 'monthly': 50, 'yearly': 500 }
ADMITTANCE_THRESHOLD=0.9
ADMITTANCE_VOTE_PERIOD=60*60*24*14
ADMITTANCE_PURCHASE_PERIOD=60*60*24*3
DEBARMENT_THRESHOLD=0.6
DEBARMENT_VOTE_PERIOD=60*60*24*14
DEBARMENT_SURVIVOR_PERIOD=60*60*24*60
DEBARMENT_INITIATOR_PERIOD=60*60*24*60
INACTIVITY_PERIOD=60*60*24*90
