{% extends "main_body.html" %}
{% set active_page = "dashboard" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-4">
    <div class="card card-border">
      <div class="card-header">
        <span class="title">Announcements</span>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-striped table-hover table-borderless">
          <thead>
            <tr>
              <th style="width:40%">Subject</th>
              <th style="width:20%">Published</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>New event Thursday nights</td>
              <td>Jan 1, 2018</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-border">
      <div class="card-header">
        <span class="title">Newest members</span>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-striped table-hover table-borderless">
          <thead>
            <tr>
              <th style="width:40%">Name</th>
              <th style="width:20%">Join Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="user-avatar"><img src="{{ url_for('static', filename='img/avatar6.png') }}" alt="Avatar">Foo</td>
              <td>Jan 1, 2018</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
